<div id="<%= dom_id comment %>">
  <p>
    <strong>Body:</strong>
    <%= comment.body %>
  </p>

  <p>
    <strong>User:</strong>
    <%= comment.user_id %>
  </p>

  <p>
    <strong>Project:</strong>
    <%= comment.project_id %>
  </p>

  <p>
    <strong>Created at:</strong>
    <%= comment.created_at %>
  </p>

  <p>
    <strong>Updated at:</strong>
    <%= comment.updated_at %>
  </p>

</div>
