<%= form_with(model: [ @project, @comment ]) do |form| %>
<%= form.hidden_field :user_id, value: current_user.id %>
  <% if comment.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

      <ul>
        <% comment.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<br>

  <div>
    <%= form.label "Add your comment", style: "display: block" %>
    <%= form.text_area :body %>
  </div>
<br>
  <div>
    <%= form.submit %>
  </div>
<% end %>
