<div class="container">
  <div class="card pt-4"> 
    <div class="card-body p-4">
      <h2 class="card-title text-center display-6">Forgot your password?</h2>

        <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
          <%= render "devise/shared/error_messages", resource: resource %>

          <div class="field pt-4">
            <%= f.label :email, class: "form-label" %>
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control rounded" %>
          </div>

          <div class="actions orm-group pt-4">
            <%= f.submit "Send me reset password instructions", class: "btn btn-primary rounded" %>
          </div>
        <% end %>

      <div class="mt-4">
        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>