<h1>Editing project</h1>

<%= form_with(model: @project, local: true) do |form| %>
 <div class="form-group">
    <%= form.label :status %>
    <%= form.select :status, Project.statuses.keys.map { |s| [s.humanize, s] } %>
  </div>

  <%= render "form", project: @project, form: form %>

  <br>

  <div>
    <%= link_to "Go to project", @project %> |
    <%= link_to "Back to projects", projects_path %>
  </div>
<% end %>