<p style="color: green"><%= notice %></p>
<p style="color: red"><%= alert %></p>

<div class = "container">
  <%= render @project %>

  <h2 class= "mb-4 display-6">Project's Comments</h2>
  
  <% @project.comments.each do |comment| %> 
    <%= render comment %>
  <% end %>
 
  <%= button_to "Add Comment", new_project_comment_path(@project), method: :get, class: "btn btn-primary btn-sm" %>

  <div class="mt-4">
    <%= link_to "Back to projects", projects_path %>
  </div>

  <div class="mt-4 btn-group gap-4 btn-group-horizontal" ">
    <%= button_to "Edit this project", edit_project_path(@project), method: :get, class: "btn btn-secondary" %>
    <%= button_to "Delete this project", @project, method: :delete, class: "btn btn-danger" %>
  </div>
</div>
