<div class="container">
  <h1 class="text-center display-2 pb-4">Welcome to the Project Conversation App</h1>

  <div class="card pt-4">
    <div class="card-body p-4">
      <h2 class="card-title text-center display-6" >Please Log in or Register </h2>

      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="field pt-4">
          <%= f.label :email, class: "form-label" %>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control rounded" %>
        </div>

        <div class="field pt-4">
          <%= f.label :password, class: "form-label"%>
          <%= f.password_field :password, autocomplete: "current-password", class: "form-control rounded" %>
        </div>

        <div class="mt-4">
        <% if devise_mapping.rememberable? %>
          <div class="field">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me %>
          </div>
        <% end %>

        <div class="actions form-group pt-4">
          <%= f.submit "Log in", class: "btn btn-primary rounded" %>
        </div>
      <% end %>

      <div class="mt-4">
        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>
